In [109]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [110]:
df = sns.load_dataset('mpg')

In [111]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [112]:
df.drop('name',axis=1,inplace=True)

In [113]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [114]:
# problem statement : Predict the mpg based on this cylinders	displacement	horsepower	weight	acceleration	model_year	origin

In [115]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [116]:
df['horsepower'].median()

93.5

In [117]:
df['horsepower']=df['horsepower'].fillna(df['horsepower'].median())

In [118]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [120]:
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [121]:
df.origin.value_counts()

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [122]:
df['origin']=df['origin'].map({"usa":1,"japan":2,"europe":3})

In [123]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1
394,44.0,4,97.0,52.0,2130,24.6,82,3
395,32.0,4,135.0,84.0,2295,11.6,82,1
396,28.0,4,120.0,79.0,2625,18.6,82,1
397,31.0,4,119.0,82.0,2720,19.4,82,1

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 25.0 KB

In [125]:
X = df.drop('mpg',axis=1)
y = df['mpg']

In [126]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504,12.0,70,1
1,8,350.0,165.0,3693,11.5,70,1
2,8,318.0,150.0,3436,11.0,70,1
3,8,304.0,150.0,3433,12.0,70,1
4,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1
394,4,97.0,52.0,2130,24.6,82,3
395,4,135.0,84.0,2295,11.6,82,1
396,4,120.0,79.0,2625,18.6,82,1
397,4,119.0,82.0,2720,19.4,82,1

In [127]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [130]:
X_train

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
350,4,105.0,63.0,2215,14.9,81,1
59,4,97.0,54.0,2254,23.5,72,3
120,4,121.0,112.0,2868,15.5,73,3
12,8,400.0,150.0,3761,9.5,70,1
349,4,91.0,68.0,1985,16.0,81,2
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1
255,4,140.0,88.0,2720,15.4,78,1
72,8,304.0,150.0,3892,12.5,72,1
235,4,97.0,75.0,2265,18.2,77,2
37,6,232.0,100.0,3288,15.5,71,1

In [131]:
X_train.shape,X_test.shape

((278, 7), (120, 7))

In [132]:
from sklearn.linear_model import LinearRegression
Regression_model = LinearRegression()

In [133]:
Regression_model

LinearRegression()

In [134]:
Regression_model.fit(X_train,y_train)

LinearRegression()

In [135]:
# to know the coefficient of X_train Columns
for i, col_name in enumerate(X_train.columns):
    print(f"The coefficient for {col_name} is {Regression_model.coef_[i]}")

The coefficient for cylinders is -0.3176142302799265
The coefficient for displacement is 0.02623748259907889
The coefficient for horsepower is -0.01827076491312458
The coefficient for weight is -0.007487750398361899
The coefficient for acceleration is 0.05040673461971409
The coefficient for model_year is 0.8470951427061375
The coefficient for origin is 1.5190958387975042

when ever your coefficients are in same level this is called as smoother model its means 
one feature is not contributing means one coefficients is very very high as compare to other one

In [136]:
from sklearn.metrics import r2_score
y_pred_linear  = Regression_model.predict(X_test)

In [137]:
r2_score(y_test,y_pred_linear)

0.8348001123742285

In [138]:
# ridge regression

In [139]:
from sklearn.linear_model import Ridge
ridge_regression_model = Ridge(alpha=100)
ridge_regression_model.fit(X_train,y_train)
for i, col_name in enumerate(X_train.columns):
    print(f"The coefficient for {col_name} is {ridge_regression_model.coef_[i]}")

The coefficient for cylinders is -0.10121103813475087
The coefficient for displacement is 0.01549704723498366
The coefficient for horsepower is -0.015154146537673819
The coefficient for weight is -0.0072516011271230255
The coefficient for acceleration is 0.030640385245588694
The coefficient for model_year is 0.7914981246881725
The coefficient for origin is 0.7240611102907395

In [140]:
# in this value only some  extends see carefully

In [141]:
from sklearn.metrics import r2_score
y_pred  = ridge_regression_model.predict(X_test)
r2_score(y_test,y_pred)

0.8350365150570258

In [142]:
# here also little bit of changed

In [143]:
# Lasso regression

In [144]:
from sklearn.linear_model import Lasso
lasso_regression_model = Lasso(alpha=0.5)
lasso_regression_model.fit(X_train,y_train)
for i, col_name in enumerate(X_train.columns):
    print(f"The coefficient for {col_name} is {lasso_regression_model.coef_[i]}")

The coefficient for cylinders is -0.0
The coefficient for displacement is 0.006208198888300364
The coefficient for horsepower is -0.011058382987169603
The coefficient for weight is -0.0069826731680230885
The coefficient for acceleration is 0.0
The coefficient for model_year is 0.744654952003819
The coefficient for origin is 0.0

In [145]:
from sklearn.metrics import r2_score
y_pred = lasso_regression_model.predict(X_test)
r2_score(y_test,y_pred)

0.8277934716635554

In [146]:
from sklearn.linear_model import ElasticNet
elasticNet_model = ElasticNet(alpha=0.8,l1_ratio=0.4)
elasticNet_model.fit(X_train,y_train)
for i, col_name in enumerate(X_train.columns):
    print(f"The coefficient for {col_name} is {elasticNet_model.coef_[i]}")

The coefficient for cylinders is -0.0
The coefficient for displacement is 0.007991329781571476
The coefficient for horsepower is -0.013891824664720762
The coefficient for weight is -0.006988137750203172
The coefficient for acceleration is 0.0
The coefficient for model_year is 0.7368382677380917
The coefficient for origin is 0.20426289739925613

In [147]:
from sklearn.metrics import r2_score
y_pred = elasticNet_model.predict(X_test)
r2_score(y_test,y_pred)

0.8308672338152328

In [148]:
# LassoCV
from sklearn.linear_model import LassoCV
lassoCV =LassoCV(cv=5)
lassoCV.fit(X_train,y_train)
y=pred = lassoCV.predict(X_test)
r2_score(y_test,y_pred)

0.8308672338152328